<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:c="http://www.springframework.org/schema/c"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">




    <bean id="compactDisc" class="com.hson.core.bean.SgtPeppers">
    </bean>

    <bean id="blankDisc" class="com.hson.core.bean.BlankDisc"
          c:title="uno" c:artist="dos">
        <constructor-arg>
            <list>
                <value>primero</value>
                <value>segundo</value>
            </list>

        </constructor-arg>
    </bean>

    <bean id="cdPlayer" class="com.hson.core.bean.CDPlayer">

        <constructor-arg ref="compactDisc"/>
    </bean>


    <bean id="cdPlayerOld" class="com.hson.core.bean.CDPlayer"
          c:cd-ref="blankDisc">
    </bean>




    <bean id="cdPlayeBlankr" class="com.hson.core.bean.CDPlayer">

        <constructor-arg ref="blankDisc"/>
    </bean>


    <bean id="cdPlayerMethodWire" class="com.hson.core.bean.CDPlayerMethodWire">

       <property name="cd" ref="blankDisc" />
        <property name="method" value="Method property"/>

    </bean>


    <bean id="cdPlayerMethodWireNameSpace" class="com.hson.core.bean.CDPlayerMethodWire"
    p:cd-ref="blankDisc" p:method="Namespace p "
    >


    </bean>




</beans>