<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	 http://www.springframework.org/schema/context
	 http://www.springframework.org/schema/context/spring-context.xsd
http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop-3.0.xsd ">

    <aop:aspectj-autoproxy/>

    <context:component-scan base-package="com.hson"/>

    <bean id="logAspectPerformance" class="com.hson.core.aop.LoggingAspectPerformance" />



    <aop:config>

        <!--THIS WILL WORK YET VIOLATES THE DRY!-->
        <!--<aop:aspect ref="logAspectPerformance">-->
            <!--<aop:before method="takeSeats"-->
                        <!--pointcut="execution(* com.hson.core.bean.Performance.perform(..))"></aop:before>-->


            <!--<aop:before method="turnOffCellPhones"-->
                        <!--pointcut="execution(* com.hson.core.bean.Performance.perform(..))"></aop:before>-->

            <!--<aop:after method="applaud"-->
                        <!--pointcut="execution(* com.hson.core.bean.Performance.perform(..))"></aop:after>-->

            <!--<aop:after-throwing method="demandRefund"-->
                        <!--pointcut="execution(* com.hson.core.bean.Performance.perform(..))"></aop:after-throwing>-->

        <!--</aop:aspect>-->


        <aop:aspect ref="logAspectPerformance">
            <aop:pointcut id="performancePointCut"
                          expression="execution(* com.hson.core.bean.Performance.perform(..))" />


            <aop:before method="takeSeats"
                        pointcut-ref="performancePointCut"></aop:before>


            <aop:before method="turnOffCellPhones"
                        pointcut-ref="performancePointCut"></aop:before>

            <aop:after method="applaud"
                       pointcut-ref="performancePointCut"></aop:after>

            <aop:after-throwing method="demandRefund"
                                pointcut-ref="performancePointCut"></aop:after-throwing>


            <aop:around method="watchPerformance" pointcut-ref="performancePointCut"></aop:around>

        </aop:aspect>


        <aop:aspect ref="magician">
            <aop:pointcut id="thinking" expression="execution(* com.hson.core.bean.Thinker.thinkOfSomething(String)) and args(thoughts)" />
            <aop:before  pointcut-ref="thinking" method="interceptThoughts" arg-names="thoughts" />


        </aop:aspect>
    </aop:config>


</beans>